@use 'sass:math';

@use '_inc/modules/layout' as *;
@use '_inc/modules/typography' as *;
@use '_inc/modules/colours' as *;

@use '_inc/partials/base' as *;
@use '_inc/partials/typography' as *;


main {
		counter-reset: line-numbers;
}

pre {
		margin: 0;
		overflow: inherit;
		white-space: normal;
		word-break: break-word;
}

code {
	display:block;
	counter-increment: line-numbers;
	position: relative;
	margin: 0;
	@include rem2px(margin-left, -(math.div($one-rem, 2)));
}

code:before {
	content: counter(line-numbers);
	position: absolute;
	top: 0;
	bottom: 0;
	@include rem2px(left, -(math.div($one-rem, 2)));
	color: $line-number;
}

code pre {
	display: inline-block;
	@include rem2px(padding-left, $one-rem);
}

.element {
	color: $element;
}

.comment {
	color: $comment;
}

.comment code {
	@include rem2px(padding-left, $one-rem);
	white-space: pre-line;
}

.comment a {
	color: $comment;
}

.text {
	color: $white;
}

.logo, .logo a {
	color: #f7941d;
}

.attr {
	color: $attr;
}

.quotes {
	color: $quotes;
}

a {
	text-decoration: none;
	color: $white;
}

.bullet {
	display: list-item;
	@include rem2px(margin-left, math.div($one-rem, 2));
}